body{
	font-family: "微软雅黑";color: #000;font:normal 100%;margin: 0;
}
a{
	padding: 0 3px;
	display: block;
}

@media only screen and(max-width:600px){
	/*小屏幕*/
	#menulogo{
		display: block;
	}
	.rMen{
		display: block;
		text-align: right;
	}
	.menu li{
		width: 100%;
		visibility: hidden;
		
	}
}

@media only screen and(min-width:800px){
	/*大屏幕*/
	#container{column-rule-width: 960px;margin: 0 auto;}
	#menulogo{
		display: block;
		width: 100%;
	}
}
#container{
	margin:  0 auto;
	max-width: 960px;
	height: 1000px;
	border: 1px solid #000;
}

.header{
	width: 100%;
	height: 200px;
	border: 1px solid #000;
}
nav ul{
	float: right;
	width: 60%;
	margin: 20px auto;
}
nav ul li{
	list-style: none;
	display: block;
	float: left;
	background: gray;
	text-align: center;
	width: 20%;
	height: 24px;	
}
nav ul li a:link{
	text-decoration: none;
	color: #000000;
}
.rMen{
	display: none;
}
.left{
	height: 560px;
	width:20%;
	border: 1px solid #000;
}
.wrapper{
	width: 78%;
	
}
.wrapper img{
	max-width: 100%;
	height: auto;
}
.footer{
	height: 200px;
	border: 1px solid #000;
}
